.nav-ring {
	margin: 96px auto 0;
}

.nav-ring ul {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media screen and (max-width: 424px) {
	.nav-ring li:nth-child(2):not(:last-child) {
		display: none;
	}
}

@media print {
	.nav-ring {
		display: none;
	}
}
