nav {
	display: table;
	margin: 84px auto 0;
}

nav a {
	--icon-size: 48px;
}

nav a::before {
	content: "";
	display: block;
	background-color: currentColor;
	width: var(--icon-size, 1.5rem);
	height: var(--icon-size, 1.5rem);
	mask: var(--icon-toc) no-repeat center / 100%;
}

@media print {
	nav {
		display: none;
	}
}
