html {
	--color-white: #ffffff;
	--transition: none;
	--icon-toc: url("../../client/icons/toc.svg");

	height: 100%;
	font-size: 32px;
}

h1 {
	margin: 0 0 48px;
	font-weight: 400;
	font-size: 40px;
	line-height: inherit;
	text-align: center;
	transform: translateY(-2px);
}

address {
	margin: 0 0 48px;
	font-style: normal;
	text-align: center;
}

p {
	margin: 0;
	text-indent: 1.25em;
}

a {
	text-decoration-skip-ink: none;
	text-decoration-thickness: from-font;
	color: inherit;
	transition: var(--transition);
	transition-property: color;
}

time {
	display: block;
	text-align: right;
}

@media (hover: hover) {
	a:hover {
		color: #0069ff;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		--transition: 0.3s ease-in-out;
	}
}
